label,
input,
a {
  vertical-align: middle;
}

label {
  padding: 0 10px 0 5px;
}

a {
  color: #09f;
  text-decoration: none;
}

a:hover {
  color: red;
}

.wrapper {
  width: 120px;
  margin: 10px auto;
  padding: 10px 5px;
  border: 1px solid #666;
  border-radius: 5px;
  background: #fafafa;
}

.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #666;
}

.header label {
  font-weight: 700;
}

p {
  margin-top: 10px;
}
