.main {
	margin: 40px auto;
	padding: 20px;
	height: 460px;
	background: rgb(238, 238, 238);
	border: 1px solid rgb(153, 153, 153);
}

.left {
	background: #fff;
	width: 200px;
	height: 120px;
	float: left;
}

.center {
	height: 320px;
	background-color: rgb(255, 255, 255);
	border: 1px solid rgb(128, 128, 128);
	padding: 20px;
	margin-left: 260px;
	margin-right: 160px;
}

.right {
	float: right;
	width: 120px;
	height: 430px;
	background: #fff;
}

img {
	width: 80px;
	height: 80px;
	margin: 20px;
}

.right > img {
	margin: 20px 20px 0 20px;
}

.left > span {
	float: right;
	margin: 20px;
}